@media only screen and (min-width:1170px) {
    .customdesign_mobile{
    	display: none;
    }
}

@media only screen and (min-width:1000px) and (max-width:1169px) {
	.customdesign_mobile{
    	display: none;
    }
    .customdesign_option .right{
        float: left;
        margin: 10px 0 0;
    }
    #customdesign-stages-wrp .customdesign_tab_nav, #customdesign-stages-wrp .customdesign_tabs, #customdesign-stages-wrp .customdesign_tab_content, #customdesign-stages-wrp .customdesign_tab_content .customdesign-product-design{
    	width: 100%;
    	min-width: inherit;
    }
    #customdesign-popup .customdesign-popup-content ul.customdesign-stagle-list-base li{
    	width: 31.33333333333333333333%;
    	margin: 0 3% 3% 0;
    }
    #customdesign-popup .customdesign-popup-content ul.customdesign-stagle-list-base li:nth-child(6n){
    	margin: 0 3% 3% 0;
    }
    #customdesign-popup .customdesign-popup-content ul.customdesign-stagle-list-base li:nth-child(3n){
    	margin-right: 0;
    }
    .customdesign-col-3{
    	flex: 1 1 50%;
    	max-width: 50%;
    }
    .customdesign-col-6{
    	max-width: 100%;
    	flex: 1 1 100%;
    }
    .customdesign-order-details .col-3{
		width: 48%;
    	margin: 0 4% 0 0;
    }
    .customdesign-order-details .col-3:last-child{
    	margin: 0;
    }
    .customdesign_wrap.customdesign_addons{
    	width: 48%;
    	margin-right: 4%;
    }
    .customdesign_wrap.customdesign_addons:nth-of-type(3n){
    	margin-right: 4%;
    }
    .customdesign_wrap.customdesign_addons:nth-of-type(2n){
    	margin-right: 0;
    }
    .customdesign_wrap.customdesign_addons .customdesign_right{
    	padding: 24px 18px;
    }
}

@media (max-width:999px) {
	.customdesign_sidebar{
		display: none;
	}
	.customdesign_sidebar.customdesign_mobile{
		display: block;
	}
	.customdesign_sidebar.customdesign_mobile{
		width: calc(100% - 30px);
		margin: 15px 15px 0;
	}
	.customdesign_sidebar.customdesign_mobile .customdesign_logo{
		padding: 10px 0;
		height: auto;
	}
	.customdesign_sidebar.customdesign_mobile .btn-toggle-sidebar-mb{
		top: 12px;
		right: 20px;
		position: absolute;
	    width: 34px;
	    height: 34px;
	    line-height: 34px;
	    border-radius: 50%;
	    background: #eee;
	    cursor: pointer;
	    color: #505050;
	    transition: all 0.3s ease 0s;
	    text-align: center;
	}
	.customdesign_sidebar.customdesign_mobile .customdesign_logo img{
		padding-left: 17px;
	}
	.customdesign_sidebar .customdesign_menu{
		position: fixed;
		top: 0;
		left: -250px;
		width: 250px;
		height: 100%;
		overflow: auto;
		z-index: 999999;
		transition: all 0.3s ease 0s;
	}
	.customdesign_sidebar.open .customdesign_menu{
		left: 0;
	}
	.customdesign_sidebar.open .overlay_mb{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		z-index: 100;
	}
	.page_sidebar_mini .customdesign_wrapper{
		width: 100% !important;
	}
	.customdesign_wrapper{
		width: 100%;
		padding: 15px;
	}
    .customdesign_form_group span,
    .customdesign_form_group .customdesign_form_content{
    	float: left;
    	width: 100%;
    	max-width: 100%;
    	text-align: left;
    }
    .customdesign_tabs{
    	padding: 25px;
    }
    #customdesign-stages-wrp .customdesign_tab_nav, #customdesign-stages-wrp .customdesign_tabs, #customdesign-stages-wrp .customdesign_tab_content, #customdesign-stages-wrp .customdesign_tab_content .customdesign-product-design{
    	width: 100%;
    	min-width: inherit;
    }
    .customdesign-stage-settings img{
    	max-width: 100%;
    }
    .customdesign_option .right{
        float: left;
        margin: 10px 0 0;
    }
    .customdesign_form_group.customdesign_form_submit input[type="submit"]{
    	margin-left: 0;
    }
    .customdesign_form_group{
    	margin-bottom: 15px;
    }
    .customdesign_form_group input[type="text"]{
    	max-width: 100%;
    }
    #customdesign-popup div.customdesign-langs-wrp{
    	padding: 20px;
    }
    #customdesign-cliparts-bundle-left,
    #customdesign-cliparts-bundle-right{
    	padding: 0;
    	border: 0;
    }
    #customdesign-popup ul:not(.list-cate) li{
    	width: 25%;
    }
    #customdesign-popup .customdesign-popup-content ul.customdesign-stagle-list-base li{
    	width: 31.33333333333333333333%;
    	margin: 0 3% 3% 0;
    }
    #customdesign-popup .customdesign-popup-content ul.customdesign-stagle-list-base li:nth-child(6n){
    	margin: 0 3% 3% 0;
    }
    #customdesign-popup .customdesign-popup-content ul.customdesign-stagle-list-base li:nth-child(3n){
    	margin-right: 0;
    }
    .customdesign-col-3{
    	flex: 1 1 50%;
    	max-width: 50%;
    }
    .customdesign-col-6{
    	max-width: 100%;
    	flex: 1 1 100%;
    }
    .customdesign-popup-content.customdesign-multi-cliparts {
	    width: 80%;
	}
	 .customdesign-order-details .col-3{
		width: 48%;
    	margin: 0 4% 0 0;
    }
    .customdesign-order-details .col-3:last-child{
    	margin: 0;
    }
    .customdesign_wrap.customdesign_addons{
    	width: 48%;
    	margin-right: 4%;
    }
    .customdesign_wrap.customdesign_addons:nth-of-type(3n){
    	margin-right: 4%;
    }
    .customdesign_wrap.customdesign_addons:nth-of-type(2n){
    	margin-right: 0;
    }
    .customdesign_wrap.customdesign_addons .customdesign_right{
    	padding: 24px 18px;
    }

}

@media only screen and (min-width:768px) and (max-width:999px) {
	.customdesign_form_group.customdesign_field_print .customdesign_form_content{
		max-width: 100%;
	}
}

@media (max-width:767px) {
	.customdesign_option .left #customdesign-scan-language,
	.customdesign_option .left form{
		margin-bottom: 10px;
	}
	.customdesign_option .right{
		margin: 0;
	}
	#customdesign-popup div.customdesign-langs-wrp{
		padding: 20px;
	}
	#customdesign-cliparts-bundle-left,
	#customdesign-cliparts-bundle-right{
		min-height: auto;
		padding-left: 0;
		border: 0;
		width: 100%;
	}
	.customdesign_form_group.customdesign_field_print .customdesign_form_content{
		max-width: 100%;
	}
	#customdesign-popup .customdesign_content h3.side-title{
		width: 100%;
		margin: 0px 0 10px;
	}
	#customdesign-popup .customdesign_content #customdesign-cliparts-bundle-right h3.side-title{
		margin: 20px 0 0;
	}
	#customdesign-popup #customdesign-cliparts-bundle-right h3#customdesign-cliparts-bundle-stt{
		margin: 15px 0 0;
		font-size: 1.8em;
	}
	#customdesign-popup ul:not(.list-cate) li{
		width: 25%;
	}
	#customdesign-popup header #customdesign-language-selected button{
		margin: 10px 0 0;
		height: auto;
		padding: 6px 0;
	}
	#customdesign-popup header #customdesign-language-selected{
		padding: 0;
	}
	#customdesign-stages-wrp{
		width: 100%;
	}
	.customdesign-col-3{
    	flex: 1 1 100%;
    	max-width: 100%;
    }
    .customdesign-order-details .col-3{
		width: 48%;
    	margin: 0 4% 0 0;
    }
    .customdesign-order-details .col-3:last-child{
    	margin: 0;
    }
    .customdesign_wrap.customdesign_addons{
    	width: 100%;
    	margin-right: 0%;
    }
    .customdesign_wrap.customdesign_addons .customdesign_right{
    	padding: 20px 12px;
    }
}

@media only screen and (min-width:640px) and (max-width:767px) {
   
}

@media only screen and (min-width:480px) and (max-width:639px) {
    #customdesign-popup ul:not(.list-cate) li{
		width: 33.333333333333333333%;
	}
	.customdesign_form_group .customdesign-field-attributes .customdesign-attribute-body div[data-view="col"]{
		width: 100%;
		padding: 0 0 15px;
	}
	.customdesign_content table tbody td:first-child{
		width: 35px;
	}
	.customdesign_form_settings .customdesign_tab_nav li a{
		padding: 5px 15px;
	}
	 .customdesign-order-details .col-3{
		width: 48%;
    	margin: 0 4% 0 0;
    }
    .customdesign-order-details .col-3:last-child{
    	margin: 0;
    }
}

@media only screen and (max-width:479px) {
	.customdesign_form_group .customdesign_form_content input[type="color"]+button{
		margin: 10px 0 0;
	}
	.customdesign_tab_nav li a{
		padding: 5px 15px;
	}
	.customdesign_form_group .customdesign_form_content input[type="color"]{
		width: 100%;
	}
	#customdesign-stages-wrp{
		float: left;
		width: 100%;
	}
	#customdesign-popup header h3{
		font-size: 16px;
	}
	#customdesign-popup header .close-pop{
		right: 3px;
	}
    .customdesign_header .add_new{
   		margin: 10px 0 0;
   		clear: both;
    }
    #customdesign-popup ul:not(.list-cate) li{
		width: 50%;
	}
	#customdesign-popup header input{
		width: 200px;
	}
	#customdesign-popup .customdesign-popup-content ul.customdesign-stagle-list-base li{
    	width: 100%;
    	margin: 0 0 15px !important;
    }
    #customdesign-popup header h3 > small{
    	font-size: 12px;
    	line-height: 20px;
    }
    .customdesign_form_group .customdesign-field-attributes .customdesign-attribute-body div[data-view="col"]{
		width: 100%;
		padding: 0 0 15px;
	}
	.customdesign_content table tbody td:first-child{
		width: 35px;
	}
	.customdesign_wrap figure{
		width: 100%;
	}
	.customdesign_right{
		width: 100%;
		padding: 0;
	}
	.list_thumb.lusime_box_dashbroad .box_content ul li{
		flex: 1 1 50%;
		max-width: 50%;
	}
	.customdesign-order-details .col-3{
		width: 48%;
    	margin: 0 4% 0 0;
    }
    .customdesign-order-details .col-3:last-child{
    	margin: 0;
    }
}
