#adminmenumain, #wpadminbar, #wpfooter, .magic_breadcrumb{
	display: none !important;
}
#wpcontent, html.wp-toolbar, #wpbody-content, .magic_wrapper{
	margin: 0px !important;
	padding: 0px !important;
}
.magic_wrapper{
	width: 100% !important;
}